.button {
  border-radius: 8px;
  border: none;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: #ff544d;
  box-sizing: border-box;
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.6);
}
