.button {
  border-radius: 8px;
  border: none;
  width: 14px;
  height: 14px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: #ff5c60;
  box-sizing: border-box;
  border: 0.5px solid color-mix(in hsl, transparent 88%, black 12%);
  color: rgba(0, 0, 0, 0.6);
}

.button:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.button .buttonInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
